html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: white;
  z-index: 1000;
}

.d-flex {
  display: flex;
  flex: 1;
  margin-top: 60px;
}
app-sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 250px;
  color: white;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px);
}

.footer-section {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  background-color: hsl(204, 5%, 18%);
  color: white;
  padding: 10px;
  text-align: center;
}
