<footer class="footer mt-auto py-3 bg-dark">
    <div class="container ">
        <div class="d-flex justify-content-between">
            <span class="text-light">&copy; 2024 Your Company. All rights reserved.</span>
            <div>
                <a href="/privacy-policy" class="me-2 text-light">Privacy Policy</a>
                <a href="/terms-of-service" class="text-light">Terms of Service</a>
            </div>
        </div>
        <div class="mt-2">
            <span class="text-light">Contact us: sauravsinh777gmail.com </span>
        </div>
        <div>
            <span class="text-light">Mobile Number:7046554471 </span>
        </div>
    </div>
</footer>