<div class="container-fluid mt-4" *ngIf="isUserTable">
    <h2 class="user ml-3">USER</h2>
    <div class="table-responsive">
        <div class="d-flex align-items-center justify-content-between pt-5">
            <div class="search-input--wrapper">
                <mat-form-field appearance="outline" class="h-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search by any field">
                </mat-form-field>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="addNewUser()">New Add User</button>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="table table-bordered">

            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Photo</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <img [src]="getImageSrc(element.photo)" class="avatar" alt="User Photo" width="50">
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                <td mat-cell *matCellDef="let element">{{ element.role }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
                <td mat-cell *matCellDef="let element">{{ element.mobileNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button type="button" class="btn btn-warning btn-sm" (click)="editUser(element)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm ml-2"
                        (click)="deleteUser(element._id)">Delete</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.status" (change)="toggleStatus(element)">
                        {{ element.status ? 'Active' : 'Inactive' }}
                    </mat-slide-toggle>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
</div>

<div class="container mt-4" *ngIf="isUserForm">
    <div class="card">
        <div class="card-header">
            <h2>Add User</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm">



                <div class="row mt-4">
                    <label for="name" class="form-label col-sm-3">Name:</label>
                    <div class="col-sm-4">
                        <input type="text" id="name" formControlName="name" class="form-control"
                            placeholder="Enter Name" />
                        <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched" class="text-danger">
                            Name is required.
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="role" class="form-label col-sm-3">Role:</label>
                    <div class="col-sm-4">
                        <!-- <input type="text" id="role" formControlName="role" class="form-control"
                            placeholder="Enter Role" />
                        <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched" class="text-danger">
                            Role is required.
                        </div> -->
                        <select id="role" formControlName="role" class="form-select form-control">
                            <option value="" disabled selected>Select a Parent Menu</option>
                            <option *ngFor="let option of ROLE_DATA" [value]="option.name">{{ option.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="email" class="form-label col-sm-3">Email:</label>
                    <div class="col-sm-4">
                        <input type="email" id="email" formControlName="email" class="form-control"
                            placeholder="Enter Email" />
                        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                            class="text-danger">
                            Valid Email is required.
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="password" class="form-label col-sm-3">Password:</label>
                    <div class="col-sm-4">
                        <input type="password" id="password" formControlName="password" class="form-control"
                            placeholder="Enter Password" />
                        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched"
                            class="text-danger">
                            Password is required.
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="mobileNumber" class="form-label col-sm-3">Mobile Number:</label>
                    <div class="col-sm-4">
                        <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control"
                            placeholder="Enter Mobile Number" />
                        <div *ngIf="userForm.get('mobileNumber')?.invalid && userForm.get('mobileNumber')?.touched"
                            class="text-danger">
                            Mobile Number is required.
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="photo" class="form-label col-sm-3">Photo:</label>
                    <div class="col-sm-4">
                        <input type="file" id="photo" (change)="onFileSelected($event)" class="form-control"
                            accept="image/*" />
                        <div *ngIf="userForm.get('photo')?.value" class="mt-2">
                            <img [src]="userForm.get('photo')?.value" alt="Selected Photo" width="100" />
                            <button type="button" class="btn btn-danger mt-2 mx-3" (click)="removeImage()">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="status" class="form-label col-sm-2">Status:</label>
                    <div class="col-sm-4">
                        <mat-slide-toggle formControlName="status">
                            {{ userForm.get('status')?.value ? 'Active' : 'Inactive' }}
                        </mat-slide-toggle>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-4 offset-sm-3">
                        <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
                        <button type="button" class="btn btn-danger ml-3" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>